{% extends is_htmx_request|yesno:"_base.html,base.html" %}

{% block layout %}
<main class="centered-layout">
    <div class="auth-card">
        <h2>Create Account</h2>
        <form
            hx-post="{% url 'users:register' %}"
            hx-target="#content"
            hx-push-url="true"
            hx-swap="innerHTML"
        >
            {% csrf_token %}

            {% include "partials/_form.html" %}

            <button type="submit" class="btn">Register</button>
            <a href="{% url 'users:login' %}" class="form-link">Already have an account? Login</a>
        </form>
    </div>
</main>
{% endblock %}
