{% extends is_htmx_request|yesno:"_base.html,base.html" %}
{% block title %}{{ channel.name }}{% endblock %}
{% block layout %}
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-half">
                <div class="card">
                    <div class="card-content has-text-centered">
                        <p class="title">{{ channel.name }}</p>
                        {% if is_owner %}
                            <p class="subtitle">Update Channel</p>
                            <form hx-post="{% url 'chats:channel-details' channel.id %}"
                                  hx-target="#content"
                                  hx-swap="innerHTML">
                                {% csrf_token %}
                                {% include "partials/_form.html" %}
                                <button type="submit" class="button is-primary">Update Channel</button>
                            </form>
                            <hr>
                        {% else %}
                            <p class="subtitle">Channel Information</p>
                            <p>
                                <strong>Name:</strong> {{ channel.name }}
                            </p>
                            <p>
                                <strong>Description:</strong> {{ channel.description }}
                            </p>
                            <hr>
                        {% endif %}
                        {% include "chats/partials/_invite_link.html" with channel=channel %}
                        {% if is_owner %}
                            <button hx-post="{% url 'chats:generate-invite' channel.pk %}"
                                    hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
                                    hx-target="#invite-link-section"
                                    hx-swap="outerHTML"
                                    class="mt-4 button is-link">Generate New Invite Link</button>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
