{% extends is_htmx_request|yesno:"_base.html,base.html" %}
{% block title %}Unauthorized{% endblock %}
{% block layout %}
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-half">
                <div class="card">
                    <div class="card-content has-text-centered">
                        <p class="title">Unauthorized Access</p>
                        <p class="subtitle">You are not authorized to view or perform this action.</p>
                        <a href="{% url 'chats:home' %}" class="button is-primary">Go to Home</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
